## Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Node
Backend/node_modules/
Backend/data/
Backend/.env

## macOS
.DS_Store
**/.DS_Store

## Misc
*.swp
*~
.build/
Packages/
